---
import { SITE_TITLE } from "../constants"
import Socials from "./Socials.astro"
---

<header
  class="z-[100] sticky px-8 top-0 h-[75px] flex justify-between mb-0 items-center bg-black text-white border-t border-t-white/75"
>
  <h5 class="mb-0">
    {SITE_TITLE}
  </h5>
  <nav class="space-x-4 uppercase">
    <a href="#skills">Skills</a>
    <a href="#writing">Writing</a>
    <a href="#projects">Projects</a>
    <a href="#resume">Resume</a>
    <a href="#contact">Contact</a>
    <!--a href="https://twitter.com/astrodotbuild" target="_blank">Twitter</-a>
		<a-- href="https://github.com/withastro/astro" target="_blank">GitHub</a-->
  </nav>
  <Socials />
</header>
