---
import { Soundcloud } from "./Icons";
import Button from "./Button";
---

<div class="container grid sm:grid-cols-2 gap-10">
    <div class="sticky top-0">
        <h2>Beats</h2>
        <p>
          Music is my passion. Check out some of my latest beats here!
        </p>
        <Button href="https://soundcloud.com/swaggerlikerye" target="_blank">Follow Me on Soundcloud for More <Soundcloud className="h-6 w-6" /></Button>
    </div>
    <div class="flex flex-col gap-5">
        <div>
            <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1929515126&color=%23d1604b&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/swaggerlikerye" title="swaggerlikerye" target="_blank" style="color: #cccccc; text-decoration: none;">swaggerlikerye</a> · <a href="https://soundcloud.com/swaggerlikerye/ocarina-of-rhyme" title="Ocarina of Rhyme" target="_blank" style="color: #cccccc; text-decoration: none;">Ocarina of Rhyme</a></div>        </div>
        <div>
            <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1931365652&color=%23d1604b&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/swaggerlikerye" title="swaggerlikerye" target="_blank" style="color: #cccccc; text-decoration: none;">swaggerlikerye</a> · <a href="https://soundcloud.com/swaggerlikerye/born-to-do-it" title="Born to Do It" target="_blank" style="color: #cccccc; text-decoration: none;">Born to Do It</a></div>        </div>
        <div>
            <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1923028079&color=%23d1604b&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/swaggerlikerye" title="swaggerlikerye" target="_blank" style="color: #cccccc; text-decoration: none;">swaggerlikerye</a> · <a href="https://soundcloud.com/swaggerlikerye/all4ugrl" title="ALL4UGRL" target="_blank" style="color: #cccccc; text-decoration: none;">ALL4UGRL</a></div>
        </div>
    </div>
</div>