---
---

<div
  class="flex h-[72vw] w-full items-stretch justify-center font-serif perspective-[4000px] perspective-origin-center-top sm:h-[56vw] md:h-[54vw]"
>
  <div
    class="rotate-y-0 ease-[cubic-bezier(0.165, 0.84, 0.44, 1)] hover:rotate-y-0 relative mb-[15vw] flex w-full origin-center translate-x-0 translate-y-0 justify-center px-[1%] transition-transform duration-[2s] transform-style-3d perspective-[4000px] perspective-origin-center rotate-x-[27deg] rotate-z-[-10deg] translate-z-[-264px] hover:rotate-x-[13deg] hover:rotate-z-[-3deg] sm:w-[62vw] md:w-[57vw]"
  >
    <div
      class="rotate-x-0 rotate-z-0 relative flex w-[49%] origin-right-center transform-style-3d backface-hidden perspective-[4000px] perspective-origin-left-center rotate-y-[20deg]"
    >
      <div
        class="flex-1 rounded-l-[4%] bg-[#221b14] shadow-bookLeft transform-style-3d perspective-[4000px] translate-z-[-1px]"
      >
      </div>
      <div
        class="fixed inset-0 mx-[10px] mb-[10px] mt-5 flex justify-start transform-style-3d translate-z-[5px]"
      >
        <div class="flex-1 rounded-l-[1%] bg-white shadow-pageLeft"></div>
      </div>
      <div
        class="fixed inset-0 mx-[10px] mb-[13px] mt-5 flex translate-x-[2px] justify-start transform-style-3d translate-z-[10px]"
      >
        <div class="flex-1 rounded-l-[1%] bg-white shadow-pageLeft"></div>
      </div>
      <div
        class="fixed inset-0 mx-[10px] mb-[13px] mt-5 flex translate-x-[4px] justify-start transform-style-3d translate-z-[20px]"
      >
        <div class="flex-1 rounded-l-[1%] bg-white shadow-pageLeft"></div>
      </div>
      <div
        class="fixed inset-0 mx-[10px] mb-[15px] mt-5 flex translate-x-[6px] justify-start transform-style-3d translate-z-[30px]"
      >
        <div class="flex-1 rounded-l-[1%] bg-white shadow-pageLeft"></div>
      </div>
      <div
        class="fixed inset-0 mx-[10px] mb-[18px] mt-5 flex w-[97%] justify-start transform-style-3d backface-hidden perspective-[4000px] perspective-origin-center translate-z-[32px]"
      >
        <div
          class="ease-[cubic-bezier(0.165, 0.84, 0.44, 1)] hover:rotate-x-0 hover:rotate-z-0 relative flex-1 origin-right-center rounded-bl-[1%] rounded-tl-[20%] bg-white shadow-pageLeft-2 transition-transform duration-[650ms] transform-style-3d backface-hidden rotate-y-[17deg] hover:rotate-y-[7deg] sm:rounded-tl-[18%]"
        >
          <div
            class="shadow-corner absolute left-0 top-[27px] h-[5vw] w-[30px] bg-corner-1"
          >
          </div>
          <div
            class="shadow-corner absolute left-[28px] top-0 h-[30px] w-[5vw] bg-corner-2"
          >
          </div>
          <div
            class="border-r-[rgba(215, 203, 203, 0.55)] border-b-[rgba(215, 203, 203, 0.55)] bg-[linear-gradient(135deg, transparent 47%, #f0f0f0 48%, #fff 55%, #f6f6f6)] absolute left-0 top-0 h-[5.5vw] w-[5.5vw] min-w-[21px] border-r bg-corner shadow-cornerFold sm:h-[30px] sm:w-[30px]"
          >
          </div>
          <div
            class="relative flex h-full select-none flex-col items-center justify-center py-[25px] text-[0.85vw] leading-[1.25]"
          >
            <div class="mx-auto w-4/5">
              <h5 class="text-center font-serif">The Wolf In Fetters</h5>
              <p class="mb-2 text-center">
                <em
                  >"Ill fares the wolf who shall ever await<br />In fetters the
                  fall of the gods"</em
                >
              </p>
              <p class="text-center">- Poetic Edda</p>
              <hr class="my-4" />
              <p class="mb-0">
                Galen Brelings knows a thing or two about monsters. He’s slain
                countless on the battlefield, and now he wrestles his inner
                demons as he tries to raise his daughter, Mia. Yet nothing
                prepares him for the monsters he encounters when he takes a job
                investigating a mysterious military black site: rabid beasts
                that look like wolves but walk like men. When the operation goes
                wrong, it releases the creatures and the viral infection they
                carry. Now, Galen must race to escape the collapse of
                civilization around him. As he struggles to survive, he must
                protect both himself and Mia from not only the darkness that
                consumes the world...but ultimately, the darkness that lurks
                within himself.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-[3%] bg-bookCenter"></div>
    <div
      class="rotate-x-0 rotate-z-0 relative flex w-[49%] transform-style-3d perspective-[4000px] perspective-origin-left-center rotate-y-[-1deg]"
    >
      <div class="flex-1 rounded-r-[4%] bg-[#221b14] shadow-bookRight"></div>
      <div
        class="fixed inset-0 mx-[10px] mb-[10px] mt-5 flex justify-start transform-style-3d translate-z-[5px]"
      >
        <div
          class="flex-1 rounded-br-[1%] rounded-tr-[1%] bg-white shadow-pageRight"
        >
        </div>
      </div>
      <div
        class="fixed inset-0 mx-[10px] mb-[13px] mt-5 flex translate-x-[-5px] justify-start transform-style-3d translate-z-[10px]"
      >
        <div
          class="flex-1 rounded-br-[1%] rounded-tr-[1%] bg-white shadow-pageRight"
        >
        </div>
      </div>
      <div
        class="fixed inset-0 mx-[10px] mb-[13px] mt-5 flex translate-x-[-10px] justify-start transform-style-3d translate-z-[20px]"
      >
        <div
          class="flex-1 rounded-br-[1%] rounded-tr-[1%] bg-white shadow-pageRight"
        >
        </div>
      </div>
      <div
        class="fixed inset-0 mx-[10px] mb-[15px] mt-5 flex translate-x-[-15px] justify-start transform-style-3d translate-z-[30px]"
      >
        <div
          class="flex-1 rounded-br-[1%] rounded-tr-[1%] bg-white shadow-pageRight"
        >
        </div>
      </div>
      <div
        class="right fixed inset-0 mx-[10px] mb-[18px] mt-5 flex w-[97%] translate-x-[-37px] justify-start transform-style-3d backface-hidden perspective-[4000px] perspective-origin-center translate-z-[32px]"
      >
        <div
          class="rotate-x-0 rotate-z-0 relative flex-1 origin-left-center rounded-br-[1%] rounded-tr-[1%] bg-white shadow-pageRight-2 transition-transform duration-[850ms] ease-[ease] transform-style-3d backface-hidden rotate-y-[-3deg] hover:rotate-y-[-17deg]"
        >
          <div class="relative mx-auto block h-full w-4/5 pt-[25px]">
            <h6 class="mb-0 text-center font-serif">Chapter 1</h6>
            <hr class="my-4" />
            <div
              class="max-h-[calc(.85vw * 1.25 * 26)] line-clamp-[26] select-none text-justify text-[0.85vw] leading-[1.25]"
            >
              <p class="mb-0">
                The nightmares were getting worse. They slithered into Galen’s
                mind as he laid in the darkness, unable to do anything except
                see what <em>they</em> forced him to see, feel what <em>they</em
                > forced him to feel. It always started in Sanaa, in the Old City,
                on the roof of the casbah overlooking a familiar wasteland of dirt
                and dead bodies. Galen’s left leg was painted crimson red with clusters
                of thin slashes scattered everywhere from his ankle to his groin.
                Every inch of his body shrieked in pain, and as he sat on the rooftop
                awaiting an extraction, the pain took on a life of its own. It possessed
                him with a singular focus that drowned out all else: he was going
                to find the people who did this to him, and he was going to kill
                them.
              </p>
              <p class="mb-0 indent-[5%]">
                He was going to make it <em>hurt</em>.
              </p>
              <p class="mb-0 indent-[5%]">
                Galen gripped his Mk 12 rifle with fingertips left cracked and
                bleeding from the arid desert air. Sweat stung his eyes as he
                peered through his scope, rotated his head, and desperately
                searched for a target somewhere in the clutter of sand and wind
                and fire and corpses. A figure in a balaclava emerged in the
                distance. Without thinking, Galen fired a round. It struck the
                figure in the head.
              </p>
              <p class="mb-0 indent-[5%]">
                Another emerged, and he shot again.
              </p>
              <p class="mb-0 indent-[5%]">
                It didn’t alleviate his pain. It didn’t make him feel any safer.
                But it did, for a brief moment, scratch the never-ending itch to
                strike back at the harsh, unforgiving world that wished him
                dead.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
