---
const today = new Date();
---

<footer
  class="border-t border-t-lightBlue bg-dark py-6 text-center text-sm text-white"
>
  <div class="container">
    &copy; {today.getFullYear()} Ryan Miller. All rights reserved.
  </div>
</footer>
