---
import { SITE_TITLE } from "../constants"
import Socials from "./Socials.astro"
---

<header
  class="z-[100] sticky px-8 top-0 h-[75px] flex justify-between mb-0 items-center bg-dark text-white border-t border-t-white/75"
>
  <nav class="space-x-2.5 text-sm font-grifter tracking-wider">
    <a href="#skills">Skills</a>
    <span>//</span>
    <a href="#writing">Writing</a>
    <span>//</span>
    <a href="#beats">Beats</a>
    <span>//</span>
    <a href="#projects">Projects</a>
    <span>//</span>
    <a href="#resume">Resume</a>
    <!--a href="https://twitter.com/astrodotbuild" target="_blank">Twitter</-a>
		<a-- href="https://github.com/withastro/astro" target="_blank">GitHub</a-->
  </nav>
  <Socials />
</header>
