---
import { Twitter, Github, LinkedIn, Envelope, Soundcloud } from "./Icons";
---

<ul class="flex space-x-6 text-lg">
  <li>
    <a href="https://twitter.com/ryanmiller732" target="_blank" rel="noopener noreferrer">
      <Twitter />
    </a>
  </li>
  <li>
    <a
      href="https://www.linkedin.com/in/ryan-miller-504b1187/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <LinkedIn />
    </a>
  </li>
  <li>
    <a href="https://github.com/rmiller61" target="_blank" rel="noopener noreferrer">
      <Github />
    </a>
  </li>
  <li>
    <a href="https://soundcloud.com/swaggerlikerye" target="_blank" rel="noopener noreferrer">
      <Soundcloud />
    </a>
  </li>
  <li>
    <a href="mailto:ryanmiller732@gmail.com" target="_blank" rel="noopener noreferrer">
      <Envelope />
    </a>
  </li>
</ul>
