---
import { Icon } from "astro-icon/components"
---

<style lang="css">
  [astro-icon] {
    fill: currentColor;
    height: 1em;
    width: 1em;
  }
</style>

<ul class="flex space-x-6 text-lg">
  <li>
    <a href="https://twitter.com/ryanmiller732" target="_blank" rel="noopener noreferrer">
      <Icon name="bi:twitter" />
    </a>
  </li>
  <li>
    <a
      href="https://www.linkedin.com/in/ryan-miller-504b1187/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Icon name="bi:linkedin" />
    </a>
  </li>
  <li>
    <a href="https://github.com/rmiller61" target="_blank" rel="noopener noreferrer">
      <Icon name="bi:github" />
    </a>
  </li>
  <li>
    <a href="mailto:ryanmiller732@gmail.com" target="_blank" rel="noopener noreferrer">
      <Icon name="bi:envelope-fill" />
    </a>
  </li>
</ul>
