---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { Image } from '@astrojs/image/components';
import ryan from '../../public/ryan.webp';
import Tiles from '../components/Tiles';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<div class="from-[#0c0c0c] to-black bg-gradient-to-b text-white relative min-h-[calc(100vh-75px)] flex items-center">
					<div class="container relative z-10">
						<h1 class="text-transparent bg-clip-text bg-gradient-to-r from-lightBlue to-green">Ryan Miller</h1>
						<h3>
							<span class="relative flex pb-[1.25em]">
								<span class="animate-rotateY opacity-0 whitespace-nowrap inline-block absolute top-0 left-0">Web Developer</span>
								<span class="animate-rotateY opacity-0 whitespace-nowrap inline-block absolute top-0 left-0 animation-delay-2000">Creative Writer</span>
								<span class="animate-rotateY opacity-0 whitespace-nowrap inline-block absolute top-0 left-0 animation-delay-4000">UX Designer</span>
								<span class="animate-rotateY opacity-0 whitespace-nowrap inline-block absolute top-0 left-0 animation-delay-6000">Software Engineer</span>
								<span class="animate-rotateY opacity-0 whitespace-nowrap inline-block absolute top-0 left-0 animation-delay-8000">Problem Solver</span>	
							</span>
						</h3>
					</div>
					<!--div class="absolute bottom-0 right-0 h-full pointer-events-none">
						<Image src={ryan} alt="Ryan Miller Headshot" width={936} height={1401} class={`object-contain object-right-bottom h-full w-full`} />
					</!--div-->
			</div>
			<Header />
			<section class="overflow-hidden">
				<Tiles client:idle />
			</section>
			<section class="min-h-screen"></section>
		</main>
		<Footer />
	</body>
</html>
